.btn {
  min-width: 250px;
  display: flex;
  justify-content: center;
  background: $red;
  border-radius: 30px;
  border: none;
  color: $white;
  padding: 12px;
  font-weight: $font-weight-medium;
  cursor: pointer;
  text-align: center;
}

.btn--img {
  @include verticalCenter;
  font-size: 22px;
  padding: 0 8px 0 0;

  img {
    width: 50px;
    margin-right: 4px;
  }
}

.btn--img-mobile {
  img {
    width: 50px;
  }
}

@include devices(tablet) {
  .btn--img-mobile {
    @include verticalCenter;
    position: fixed;
    bottom: 12px;
    right: 12px;
    background: $white;
    box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.4);
    border-radius: 100px;
    border: none;
  }

  img {
    width: 50px;
  }
}
