.card--mobile {
  box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.05);
  border-radius: 16px;

  .pokemon-name {
    text-transform: capitalize;
  }

  .pokemon-info_content {
    display: grid;
    row-gap: 4px;
  }

  .pokemon-info__img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 16px;
    height: 80px;

    img {
      width: 54px;
    }
  }

  .pokemon-captured--date,
  .pokemon-captured--level {
    font-weight: $font-weight-light;
    color: $medium-grey;
    font-size: 15px;
  }
}
