.page--details__container {
  width: 70%;
  padding: 36px;

  .pokemon-list__container {
    grid-template-columns: auto auto auto;
  }

  .pokemon-details {
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    padding: 10px;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

@include devices(tablet) {
  .page--details__container {
    width: 100%;
    padding: 0;

    .pokemon-details {
      width: 100%;
      position: initial;
      // overflow-y: initial;
      // overflow-x: initial;
      padding: 0;
    }
  }

  .page--details__content--left {
    display: none;
  }
}

@include devices(mobile) {
  .pokemon-list__container {
    grid-template-columns: auto auto;
  }
}
