.pokemon-list__container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 22px;
}

.pokemon-list__loading {
  @include center;
  color: $dark-grey;
  font-size: 20px;
  height: 100px;

  img {
    width: 60px;
    animation: rotation 0.1s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}

@include devices(tablet) {
  .pokemon-list__container {
    grid-template-columns: auto auto auto;
  }
}

@include devices(mobile) {
  .pokemon-list__container {
    grid-template-columns: auto auto;
  }
}
